/* SECTION MODULES */
section {
    padding: 50px 20px;
    text-align: center;
}

section header h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* CONTAINER */
#modules {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin: 0 40px;
}

/* MODULE BOX */
.module-box {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 18px;
    padding: 30px 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;
    position: relative;
}

/* EFFET HOVER */
.module-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 14px 30px rgba(99, 13, 11, 0.55);
}

/* TITRE */
.module-box h2 {
    margin: 0;
    font-size: 24px;
}

/* LIENS */
.module-box a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* BARRE DÉCORATIVE À GAUCHE */
.module-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    height: 70%;
    width: 6px;
    background: #c17a1e6c;
    border-radius: 10px;
}
